<template>
  <div id="app">
    <div id="nav" v-if="$store.state.loggedin">
      <router-link to="/login">Login</router-link> |
      <router-link to="/register">Register</router-link> | 
      <router-link to="/secretpage">Secret</router-link> |
      <button @click="logoutUser">Logout</button>
    </div>
    <div id="nav" v-else>
      <router-link to="/login">Login</router-link> |
      <router-link to="/register">Register</router-link>
    </div>
    <router-view/>
  </div>
</template>
<script>
import firebase from 'firebase'
export default {
  methods : {
        logoutUser() {
                  firebase
                    .auth()
                    .signOut()
                    .then(this.$store.commit('setUser', null))
                    .then(this.$router.replace({name: 'Login'}))
        }
  }
}
</script>
<style>

</style>
